In [1]:
import json
import requests
import pandas as pd
from io import BytesIO
from datetime import datetime

In [9]:
headers = {'User-Agent': 'Chrome/111.0.0.0 Safari/537.36'}

data = {'mktsel': 'ALL',
        'typeNo': '0',
        'searchText': '',
        'bld': 'dbms/comm/finder/finder_stkisu'}

url = "http://data.krx.co.kr/comm/bldAttendant/getJsonData.cmd"

r = requests.post(url, data=data, headers=headers)
j = json.loads(r.text)

df = pd.json_normalize(j['block1'])
print(len(df))
print(df.iloc[1]['full_code'])

2708
KR7095570008

In [10]:
df

,full_code,short_code,codeName,marketCode,marketName,marketEngName,ord1,ord2
0,KR7060310000,060310,3S,KSQ,코스닥,KOSDAQ,,16
1,KR7095570008,095570,AJ네트웍스,STK,유가증권,KOSPI,,16
2,KR7006840003,006840,AK홀딩스,STK,유가증권,KOSPI,,16
3,KR7054620000,054620,APS홀딩스,KSQ,코스닥,KOSDAQ,,16
4,KR7265520007,265520,AP시스템,KSQ,코스닥,KOSDAQ,,16
...,...,...,...,...,...,...,...,...
2703,KR7000542001,000547,흥국화재2우B,STK,유가증권,KOSPI,,16
2704,KR7000541003,000545,흥국화재우,STK,유가증권,KOSPI,,16
2705,KR7003280005,003280,흥아해운,STK,유가증권,KOSPI,,16
2706,KR7037440005,037440,희림,KSQ,코스닥,KOSDAQ,,16
2707,KR7238490007,238490,힘스,KSQ,코스닥,KOSDAQ,,16

In [16]:
full_code = df.loc[df['short_code'] == '005930']['full_code'].values[0]

strtDd = '20220101'
endDd = '20230326'

data2 = {'bld': 'dbms/MDC/STAT/standard/MDCSTAT01701',
         'isuCd': full_code,
         'isuCd': full_code,
         'strtDd': strtDd,
         'endDd': endDd,
         'searchType': '2',
         'mktld': 'ALL',
         'csvxls_isNo': 'false'}

url2 = 'http://data.krx.co.kr/comm/bldAttendant/getJsonData.cmd'

r2 = requests.post(url2, data2, headers)
j2 = json.loads(r2.text)
df3 = pd.DataFrame(j2['output'])
df3

,TRD_DD,TDD_CLSPRC,FLUC_TP_CD,CMPPREVDD_PRC,FLUC_RT,TDD_OPNPRC,TDD_HGPRC,TDD_LWPRC,ACC_TRDVOL,ACC_TRDVAL,MKTCAP,LIST_SHRS
0,2023/03/24,"63,000",1,700,1.12,"62,700","63,300","62,300","18,278,602","1,147,804,584,500","376,096,300,650,000","5,969,782,550"
1,2023/03/23,"62,300",1,"1,200",1.96,"60,600","62,300","60,600","15,381,057","946,393,607,300","371,917,452,865,000","5,969,782,550"
2,2023/03/22,"61,100",1,800,1.33,"61,000","61,200","60,500","8,978,591","546,787,085,426","364,753,713,805,000","5,969,782,550"
3,2023/03/21,"60,300",1,100,0.17,"60,500","60,700","60,100","8,318,514","501,917,706,700","359,977,887,765,000","5,969,782,550"
4,2023/03/20,"60,200",2,"-1,100",-1.79,"61,100","61,200","60,200","9,618,009","582,445,819,345","359,380,909,510,000","5,969,782,550"
...,...,...,...,...,...,...,...,...,...,...,...,...
298,2022/01/07,"78,300",1,"1,400",1.82,"78,100","78,400","77,400","15,163,757","1,184,236,552,700","467,433,973,665,000","5,969,782,550"
299,2022/01/06,"76,900",2,-500,-0.65,"76,700","77,600","76,600","12,931,954","996,378,432,570","459,076,278,095,000","5,969,782,550"
300,2022/01/05,"77,400",2,"-1,300",-1.65,"78,800","79,000","76,400","25,470,640","1,967,841,509,800","462,061,169,370,000","5,969,782,550"
301,2022/01/04,"78,700",1,100,0.13,"78,800","79,200","78,300","12,427,416","977,990,613,000","469,821,886,685,000","5,969,782,550"
302,2022/01/03,"78,600",1,300,0.38,"79,400","79,800","78,200","13,502,112","1,066,006,837,750","469,224,908,430,000","5,969,782,550"