<a href="https://colab.research.google.com/github/hanbuck30/capstone-project/blob/main/data_collection_pro.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [103]:
import pandas as pd
import numpy as np
import sklearn
import json
import requests
from io import BytesIO
from datetime import datetime
from sklearn.preprocessing import MinMaxScaler

In [3]:
!unzip -qq "/content/drive/MyDrive/BXAI/financial/KR_Data.zip"

In [12]:
%cd /content/drive/MyDrive/CodeData/Data/

/content/drive/MyDrive/CodeData/Data

In [13]:
headers = {'User-Agent': 'Chrome/111.0.0.0 Safari/537.36'}

data = {'mktsel': 'ALL',
        'typeNo': '0',
        'searchText': '',
        'bld': 'dbms/comm/finder/finder_stkisu'}

url = "http://data.krx.co.kr/comm/bldAttendant/getJsonData.cmd"

r = requests.post(url, data=data, headers=headers)
j = json.loads(r.text)

df = pd.json_normalize(j['block1'])
print(len(df))
print(df.iloc[1]['full_code'])

2711
KR7095570008

In [60]:
df

,full_code,short_code,codeName,marketCode,marketName,marketEngName,ord1,ord2
0,KR7060310000,060310,3S,KSQ,코스닥,KOSDAQ,,16
1,KR7095570008,095570,AJ네트웍스,STK,유가증권,KOSPI,,16
2,KR7006840003,006840,AK홀딩스,STK,유가증권,KOSPI,,16
3,KR7054620000,054620,APS,KSQ,코스닥,KOSDAQ,,16
4,KR7265520007,265520,AP시스템,KSQ,코스닥,KOSDAQ,,16
...,...,...,...,...,...,...,...,...
2706,KR7000542001,000547,흥국화재2우B,STK,유가증권,KOSPI,,16
2707,KR7000541003,000545,흥국화재우,STK,유가증권,KOSPI,,16
2708,KR7003280005,003280,흥아해운,STK,유가증권,KOSPI,,16
2709,KR7037440005,037440,희림,KSQ,코스닥,KOSDAQ,,16
2710,KR7238490007,238490,힘스,KSQ,코스닥,KOSDAQ,,16

In [75]:
df.loc[df['codeName']=='NAVER']

,full_code,short_code,codeName,marketCode,marketName,marketEngName,ord1,ord2
192,KR7035420009,035420,NAVER,STK,유가증권,KOSPI,,16

In [62]:
for i in range(2711):
    if df.loc[df['codeName']] == '3S':
        print(df['full_code'].values[0])

KeyError: ignored

In [86]:
%cd /content/drive/MyDrive/CodeData/Data/

/content/drive/MyDrive/CodeData/Data

In [87]:
cnt=0
for i in df['short_code']:
    full_code = df.loc[df['short_code'] == i]['full_code'].values[0]
    
   
    filename="KR%s.csv" %full_code[2:12]
    name="HK%s.csv" %full_code[2:12]
    try:
        globals()["df{}".format(full_code[2:12])] = pd.read_csv(filename)
        #globals()["df{}".format(full_code[2:12])] = pd.read_csv(name)
    except:    # 예외가 발생했을 때 실행됨
        
        #print("HK%s"%full_code[2:12],"이 데이터는 없어요")
        cnt+=1
   

print(cnt)

243

In [88]:
df7035420009.head()

,TRD_DD,ISU_CD,ISU_NM,TDD_CLSPRC,TDD_OPNPRC,TDD_HGPRC,TDD_LWPRC,MKTCAP,ACC_TRDVOL,EPS,PER,BPS,PBR,DPS,DVD_YLD
0,2022/01/11,35420,NAVER,"335,000","336,000","344,500","334,500","54,956,443,475,000","805,084","6,877",48.71,"44,850",7.47,402,0.12
1,2022/01/10,35420,NAVER,"335,000","339,000","339,500","329,000","54,956,443,475,000","828,611","6,877",48.71,"44,850",7.47,402,0.12
2,2022/01/07,35420,NAVER,"338,000","338,000","343,500","337,000","55,448,590,730,000","787,839","6,877",49.15,"44,850",7.54,402,0.12
3,2022/01/06,35420,NAVER,"338,500","348,500","349,500","337,500","55,530,615,272,500","1,280,916","6,877",49.22,"44,850",7.55,402,0.12
4,2022/01/05,35420,NAVER,"355,000","362,000","362,000","352,000","58,237,425,175,000","1,151,703","6,877",51.62,"44,850",7.92,402,0.11

In [89]:
%cd /content/drive/MyDrive/CodeData/capstone

/content/drive/MyDrive/CodeData/capstone

In [90]:
cnt=0
for i in df['short_code']:
    full_code = df.loc[df['short_code'] == i]['full_code'].values[0]
    
   
    filename="KR%s.csv" %full_code[2:12]
    name="HK%s.csv" %full_code[2:12]
    try:
        #globals()["fd{}".format(full_code[2:12])] = pd.read_csv(filename)
        globals()["fd{}".format(full_code[2:12])] = pd.read_csv(name)
    except:    # 예외가 발생했을 때 실행됨
        
        #print("HK%s"%full_code[2:12],"이 데이터는 없어요")
        cnt+=1
   

print(cnt)

0

In [91]:
fd7035420009.tail()

,Unnamed: 0,TRD_DD,TDD_CLSPRC,FLUC_TP_CD,CMPPREVDD_PRC,FLUC_RT,TDD_OPNPRC,TDD_HGPRC,TDD_LWPRC,ACC_TRDVOL,ACC_TRDVAL,MKTCAP,LIST_SHRS
321,321,2022/01/18,"338,000",2,"-5,500",-1.60,"346,500","348,000","335,500","441,573","150,023,889,000","55,448,590,730,000","164,049,085"
322,322,2022/01/17,"343,500",1,"1,500",0.44,"340,500","346,500","339,500","418,789","143,603,981,500","56,350,860,697,500","164,049,085"
323,323,2022/01/14,"342,000",2,"-6,000",-1.72,"341,000","342,500","335,500","504,907","171,403,540,000","56,104,787,070,000","164,049,085"
324,324,2022/01/13,"348,000",1,"2,500",0.72,"348,000","352,000","344,000","677,226","236,322,868,506","57,089,081,580,000","164,049,085"
325,325,2022/01/12,"345,500",1,"10,500",3.13,"339,500","352,500","339,500","1,047,713","364,057,951,000","56,678,958,867,500","164,049,085"

In [106]:
fd=pd.concat([fd7035420009,df7035420009])
fd =fd.drop(['Unnamed: 0'] ,axis=1)

In [141]:
fd

,TRD_DD,TDD_CLSPRC,FLUC_TP_CD,CMPPREVDD_PRC,FLUC_RT,TDD_OPNPRC,TDD_HGPRC,TDD_LWPRC,ACC_TRDVOL,ACC_TRDVAL,MKTCAP,LIST_SHRS,ISU_CD,ISU_NM,EPS,PER,BPS,PBR,DPS,DVD_YLD
0,2023/05/09,"211,000",1.0,"4,000",1.93,"209,000","214,500","208,500","1,855,368","393,084,585,750","34,614,356,935,000","164,049,085",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2023/05/08,"207,000",1.0,"10,900",5.56,"200,500","207,500","198,200","2,034,862","414,445,311,500","33,958,160,595,000","164,049,085",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2023/05/04,"196,100",1.0,"3,500",1.82,"191,100","197,300","189,000","900,385","174,279,721,400","32,170,025,568,500","164,049,085",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2023/05/03,"192,600",2.0,-600,-0.31,"191,800","193,400","191,300","448,203","86,298,657,062","31,595,853,771,000","164,049,085",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2023/05/02,"193,200",1.0,900,0.47,"192,200","193,200","191,400","491,178","94,522,112,300","31,694,283,222,000","164,049,085",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4746,2002/11/04,"41,700",NaN,NaN,NaN,"43,500","43,800","40,650","692,165",NaN,"310,124,985,000",NaN,35420.0,엔에이치엔,552,75.54,-,-,-,-
4747,2002/11/01,"43,900",NaN,NaN,NaN,"48,000","49,500","42,200","750,761",NaN,"326,486,495,000",NaN,35420.0,엔에이치엔,552,79.53,-,-,-,-
4748,2002/10/31,"46,800",NaN,NaN,NaN,"50,000","51,200","45,650","1,320,880",NaN,"348,053,940,000",NaN,35420.0,엔에이치엔,552,84.78,-,-,-,-
4749,2002/10/30,"49,250",NaN,NaN,NaN,"49,250","49,250","48,700","853,638",NaN,"366,274,712,500",NaN,35420.0,엔에이치엔,552,89.22,-,-,-,-
4750,2002/10/29,"44,000",NaN,NaN,NaN,"44,000","44,000","44,000","20,549",NaN,"327,230,200,000",NaN,35420.0,엔에이치엔,552,79.71,-,-,-,-

In [147]:
%cd /content/drive/MyDrive
fd.to_csv("naver.csv")

/content/drive/MyDrive

In [133]:
fdc=fd.columns
fdc=fdc.drop(['TRD_DD', 'FLUC_TP_CD', 'CMPPREVDD_PRC', 'FLUC_RT'])
fdc

Index(['TDD_CLSPRC', 'TDD_OPNPRC', 'TDD_HGPRC', 'TDD_LWPRC', 'ACC_TRDVOL',
       'ACC_TRDVAL', 'MKTCAP', 'LIST_SHRS', 'ISU_CD', 'ISU_NM', 'EPS', 'PER',
       'BPS', 'PBR', 'DPS', 'DVD_YLD'],
      dtype='object')

In [146]:
pd.to_numeric(fd['TDD_CLSPRC'])

ValueError: ignored

In [136]:
fd=fd.astype({'TDD_CLSPRC':'float','TDD_OPNPRC':'float','TDD_HGPRC':'float','TDD_LWPRC':'float','ACC_TRDVOL':'float','MKTCAP':'float'})
fd

ValueError: ignored

In [130]:
scaler=MinMaxScaler()
fd['TDD_OPNPRC'][1]

1    200,500
1    339,000
Name: TDD_OPNPRC, dtype: object

In [132]:
scaler=MinMaxScaler()
for i in fdc:
    scaler.fit(fd[i])
    fd[i]=scaler.transform(i)

ValueError: ignored